{% extends 'main/layout.html' %}
{% load static %}
{% block content %}
    <form action="{% url 'registration' %}" method="post" enctype="multipart/form-data">
    <div class="form-error">{{form.non_field_errors}}</div>
        <div class="mb-3">
            {% csrf_token %}
            <label for="exampleInputEmail1" class="form-label">{{form.as_p}}</label>
            <br>
            <button type="submit" class="btn btn-primary">Registration</button>
        </div>
    </form>
{% endblock content %}